# One maintainer holds the copyright and reviews everything (see CLA.md), so
# this is a single line rather than a table. It exists so GitHub requests the
# review automatically instead of a contributor wondering who to ask.
*       @operator888
